/* FOOTER ITEMS
--------------------------- */

/* FOOTER TITLE */
.footer-title {
  color: #9aadb0;
  font-size: 1.1667rem;
  font-weight: 900;
  line-height: 1.7;
  margin: 0 0 12px;
  text-transform: uppercase;
}

/* FOOTER NAVS */
/* Footer Nav */
[nav-footer] a { color:#fff; font-weight:600; }
[nav-footer] a + a { margin-left:25px; }
/* Products Nav */
[nav-products] { margin-top:10px; }
[nav-products] svg { 
  height: 26px;
  width: 120.93023255813954px;
}
/* Social Nav */
[nav-social] { 
  display: flex; 
  flex-wrap: wrap; 
  margin-top: 15px; 
}
[nav-social] a {
  align-items: center;
  background: #2e5c6a;
  border-radius: 50%;
  display: flex;
  font-size: 1.25rem;
  height: 40px;
  justify-content: center;
  margin-bottom: 10px;
  margin-right: 10px;
  transform:scale(1);
  transition: transform .15s;
  width: 40px;
}
[nav-social] a:hover { transform:scale(1.15); }
[nav-social] svg { 
  --icon-fill_primary: #fff;
  height:20px; 
}

/* SECTIONS */
/* ZS Logo */
[section-zs] .logo svg { width:146px; height:50px; }
[section-account] a,
[section-company] a,
[section-product] a {
  padding: 9px 0;
  display: flex;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.05rem;
  line-height: 1;
  color: var(--color-primary);
}
[section-account] a[active],
[section-company] a[active],
[section-product] a[active] {
  color: var(--color-alt2);
}


/* FOOTER 1
--------------------------- */
.footer-1 { 
  background: var(--color-light); 
  display: flex;
  flex-wrap: wrap;
}


/* FOOTER 2
--------------------------- */
.footer-2 { 
  background: linear-gradient(90deg, var(--color-primary), var(--color-primary1)); 
}
.footer-2 .inner {
  --footer-2-inner-padding-top: 2rem;
  color: #fff;
  line-height: 1;
  padding-bottom: 5.5rem;
  padding-top: var(--footer-2-inner-padding-top);
}
.footer-2 .logo { 
  --icon-fill_primary: #fff; 
  --icon-fill_secondary: #fff; 
  --icon-fill_alt1: #fff; 
  --icon-fill_alt2: #fff; 
  height: 35px;
  width: 107.01923076923076px;
}
.footer-2 p { margin:0; }


/* MIN
--------------------------- */

@media screen and (min-width:400px) {
  [section-zs] {
    transform: translateY(-8px);
  }
  .footer-1 .inner {
    --footer-justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    justify-content: var(--footer-justify-content);
  }
}

@media screen and (min-width:1024px) {
  .footer-2 .wrap { position:relative; display:flex; justify-content:center; }
  .footer-2 p { position:absolute; left:0; }
  .footer-2 [nav-footer] { position:absolute; right:0; }
  .footer-2 .logo { transform: translateY(-15px); }
}

@media screen and (min-width:1200px) {
  .footer-2 .inner {
    --footer-2-inner-padding-top: 2.5rem;
  }
}



/* MAX
--------------------------- */

@media screen and (max-width:1200px) {
  [nav-social] { 
    max-width: 195px;
  }
}

@media screen and (max-width:1023px) {
  .footer-1 section {
    margin-bottom: 30px;
  }
  .footer-2 p {
    margin-top: 30px;
  }
}

@media screen and (min-width:768px) and (max-width:1023px) {
  [section-zs] {
    flex-basis: 31%;
  }
  [section-account],
  [section-company],
  [section-product] {
    flex-basis: 21%;
  }
  [section-other] {
    flex-basis: 100%;
  }
  .footer-2 .wrap {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }
  [nav-footer] {
    margin-left: auto;
    transform: translateY(2px);
  }
  .footer-2 p {
    flex-basis: 100%;
  }
}

@media screen and (max-width:767px) {
  .footer-1 section {
    flex-basis: 48%;
  }
  .footer-2 [nav-footer] {
    margin-top: 20px;
  }
}
