/* HEADER
--------------------------- */
:root {
  --header-height: 60px;
  --header-padding-offset: 100px;
  --header-transform: translateY(-1 * var(--header-padding-offset));
}

/* Header Element */
header {
  background: #fff;
  box-shadow: 0 1px 12px rgba(0,0,0,.1);
  left: 0;
  padding: var(--header-padding) 0 0;
  position: fixed;
  top: 0;
  transform: var(--header-transform);
  user-select: none;
  width: 100%;
  z-index: 10;
}
/* Inner Wrappers */
header .inner {
  --inner-y-padding: 0;
} 
header .wrap { 
  --header-inner-justify: flex-end;

  align-items: center; 
  display: flex; 
  height: var(--header-height); 
  justify-content: var(--header-inner-justify); 
  position:relative; 
  width: 100%; 
}
/* ZC Logo */
header .logo { z-index:11; width:107.01923076923076px; height:35px; transform:translateY(-3px); }
 

/* MIN
--------------------------- */

/* TABLET P AND ABOVE */
@media screen and (min-width:768px) {
  /* Inner Wrappers */
  header .wrap { 
    --header-inner-justify: center;
  }
}

/* TABLET L AND ABOVE */
@media screen and (min-width:1024px) {
  /* Inner Wrappers */
  header .wrap { 
    --header-inner-justify: flex-start;
  }
  /* ZC Logo */
  header .logo { width:125.08576834139164px; height:41px; }
}


/* MAX
------------------------------------ */