/* HOMEPAGE STYLES
--------------------------- */

h2 { font-size: 1.75rem; }
.tagline { margin:0; display:block; transform: translateY(-16px); }

/* Chart Types */
[section~="chart-types"] .card { margin-bottom:15px; padding:4px 10px; display:flex; align-items:center; font-weight:500; font-size:.9rem; line-height:1.3; transition:transform .2s; }
[section~="chart-types"] .card:hover { color:var(--color-secondary); box-shadow:2px 2px 5px #d9d9d9; transform:translate(-2px,-2px); }
[section~="chart-types"] [zc-chart-icon] { margin-right:7px; }
[section~="chart-types"] [zc-chart-icon] + span { flex:1; }

/* Demos */
[section~="demos"] [zc-button] { display: inline-block;padding: 15px 20px;font-size: 20px;line-height: 20px;border: none;border-radius: 5px;transition: background-color 0.15s ease-in-out; background-color: #EF8535;color:#fff;transform:translateY(160px);}
.demo-cta { text-align:center;background:#00BAF0;color:white;vertical-align:top;width:720px;}

/* Feeds */
[section~="feeds"] [zc-col] { display:flex; flex-direction:column; }
[section~="feeds"] p { margin-top:0; }
[section~="feeds"] .card-inner { flex:1; }
[section~="feeds"] .fa { margin-left:2px; }
.fa-download { transform: translateY(2px); }
.blog-feed { padding:0; list-style:none; }
.blog-feed li { display:flex; }
.blog-feed li + li { margin-top:25px; }
.blog-link { width:100%; display:flex; }
.blog-image {
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #eee;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
  display: block;
  height: 50px;
  margin-right: 10px;
  width: 50px;
}
.blog-title { display:block; }
.blog-meta { color: var(--color-primary); }
.twitter-feed { margin-bottom:1rem; height:475px; overflow:auto; }
.twitter-feed > a { display:block; transform:translate(13px,10px); }

/* Made in SD/Map */
[section~="customers"] img { margin:0 auto; display:block; }
[section~="customers"] .inner { padding-bottom:1rem; }

/* Made in SD/Map */
[section~="map"] {background:#fff;}
.fa-heart { color:#c30; }
.weather { color:var(--color-secondary); text-decoration:underline; font-weight:lighter; }


/* MIN
--------------------------- */

/* TABLET: LANDSCAPE+ */
@media screen and (min-width:1024px) {
  :root {
    --chart-types-offset: 1%;
  }
  /* Chart Types */
  [section~="chart-types"] [zc-row] { justify-content:flex-start; flex-wrap:wrap; transform:translateX(calc(-1 * var(--chart-types-offset))); }
  [section~="chart-types"] [zc-row] a { margin-left:var(--chart-types-offset); width:16.5%; }

  /* Feeds */
  [section~="feeds"] [zc-col] { flex-basis:32%; }

  /* Made in SD/Map */
  [section~="map"] h2 { font-size: 1.25rem; }
  [section~="map"] [zc-row] { align-items:center; }
  [section~="map"] [zc-col="1"] { margin-right:40px; max-width: 300px; }
  [section~="map"] [zc-col="2"] { flex: 1; }
}


/* MAX
--------------------------- */