/* NAV
--------------------------- */

/* SHARED NAV TRIGGERS */
[nav-trigger] { 
  --nav-trigger-display: none;
  z-index: 11; 
  position: absolute;
  align-items: center; 
  justify-content: center; 
  cursor: pointer; 
  display: var(--nav-trigger-display);
  user-select: none;
}
[nav-trigger-svg] { width:25px; height:25px; }
[nav-trigger-svg] svg { width:100%; height:100%; }
[nav-trigger-svg] [type="close"] { pointer-events:none; visibility:hidden; transform:scale(.5) rotate(0); transition: .4s transform; }
[nav-trigger-svg] [type="close"] path { transition: .7s fill; }
[html-nav-active] [nav-trigger-svg] [type="close"] { 
  --icon-fill_primary: var(--color-alt2);
  pointer-events:auto; visibility:visible; transform:scale(.9) rotate(-90deg); 
}
[html-nav-active] [nav-trigger-svg] [type="menu"] { display:none; }


/* SHARED NAVS */
[nav-primary-group="1"] a,
[zc-nav="secondary"] a {
  color: #003749;
  font-weight: 600;
}
[nav-primary-group="1"] a[active],
[zc-nav="secondary"] a[active] {
  color: var(--color-secondary);
  border-bottom-color: var(--color-secondary);
}

/* NAV BUTTONS */
[nav-primary] [nav-button] {
  --nav-button-padding: 6px 10px;

  align-items: center;
  border: 3px solid;
  border-radius: 7px;
  box-sizing: border-box;
  display: inline-flex;
  font-weight: 600;
  line-height: 1;
  padding: var(--nav-button-padding);
  transition: 0.2s background;
}
[nav-primary] [nav-button] svg {
  margin-right: var(--nav-button-svg-margin);
  transform: scale(1.15);
  transition: transform .3s var(--easing-bezier);
}
[nav-primary] [nav-button]:hover svg { transform: scale(1.15); }
/* Style 1 */
[nav-primary] [nav-button~="1"] {
  --icon-fill_primary: #fff;
  background: var(--color-secondary);
  border-color: var(--color-secondary);
  color: #fff !important;
}
/* Style 2 */
[nav-primary] [nav-button~="2"] {
  --icon-fill_primary: var(--color-secondary);
  background: #fff;
  border-color: var(--color-secondary);
  color: var(--color-secondary) !important;
}
/* Style 3 */
[nav-primary] [nav-button~="3"] {
  border-color: var(--color-primary);
  color: var(--color-primary) !important;
}


/* MIN
------------------------------------ */

/* TABLET P AND ABOVE */
@media screen and (min-width:768px) {
  
  /* SHARED NAV MASK */
  [nav-mask] {
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    display:none;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  [html-nav-active] [nav-mask] { display:block; }
  

  /* Dropdown Group 1 */
  [nav-primary-group="2"] [nav-button~="link-signup"],
  [nav-primary-group="2"] [nav-button~="link-login"] { display:none; }
}

/* TABLET L AND ABOVE */
@media screen and (min-width:1024px) {
  [nav-button] {
    height: 34px;
  }

  /* SECONDARY NAV TRIGGER */
  [nav-trigger="secondary"] { 
    --nav-trigger-display: flex;
    right: 0; 
  }

  /* SHARED NAVS */
  [nav-primary-group="1"] a,
  [zc-nav="secondary"] a {
    align-items: center;
    border-color: transparent;
    border-style: solid;
    border-width: 4px 0;
    box-sizing: border-box;
    display: flex;
    height: var(--header-height);
    justify-content: center;
    line-height: 1;
    padding: 0 8px;
    margin: 0 5px;
  }

  /* PRIMARY NAV */
  /* Dropdown Group 1 */
  [nav-primary-group="1"] {
    display: flex;
    margin-left: 30px;
  }
  [nav-primary-group="1"] [nav-button] {
    align-self: center;
    height: 34px;
  }
  /* Download Link */
  [zc-nav-wrapper="primary"] [nav-button~="link-download"] {
    margin-left: 30px;
    position: relative;
  }
  [zc-nav-wrapper="primary"] [nav-button~="link-download"]:before {
    content: '';
    border-right: 1px solid #ccc;
    display: block;
    height: 25px;
    left: -25px;
    outline: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
  }
  [zc-nav-wrapper="primary"] [nav-button~="link-download"] svg {
    margin-right: 10px;
  }
  /* Dropdown Group 2 */
  [nav-primary-group="2"] {
    display: none;
  }

  /* SECONDARY NAV */
  [zc-nav="secondary"] {
    align-items: center;
    display: flex;
  }
}

/* DESKTOP */
@media screen and (min-width:1150px) {
  /* Show Sign Up and Login */
  [zc-nav="secondary"] [nav-button~="link-login"],
  [zc-nav="secondary"] [nav-button~="link-signup"] {
    --nav-button-svg-margin: 12px;
  }
  [zc-nav="secondary"] [nav-button~="link-login"] span,
  [zc-nav="secondary"] [nav-button~="link-signup"] span { 
    display:block; 
  }
}
@media screen and (min-width:1300px) {
  /* PRIMARY NAV */
  [nav-primary-group="1"] a { 
    margin-right: 20px;
  }

  /* SECONDARY NAV TRIGGER */
  [nav-trigger="secondary"] {
    display: none;
  }

  /* SECONDARY NAV */
  [zc-nav="secondary"] { 
    position: absolute; 
    right: 0;
    top: 0;
  }
  [zc-nav="secondary"] a { display:inline-flex; align-items:center; }
  [zc-nav="secondary"] a + a { margin-left:8px; }
  [zc-nav="secondary"] svg { 
    --icon-fill_primary: var(--color-secondary);
    height: 18px; 
    margin-right: 10px; 
    transform: scale(1); 
    transition: transform .3s; 
    width: auto; 
  }
  [zc-nav="secondary"] [nav-button~="link-login"] span { transform:translateY(-2px); }
  [zc-nav="secondary"] [nav-button~="link-login"] svg { height:14px; transform: translateY(-2px); }
  [zc-nav="secondary"] a:hover svg { transform: scale(1.15); }
  [zc-nav="secondary"] [nav-button~="link-login"]:hover svg { transform: scale(1.15) translateY(-2px); }
  

  /* Show Download */
  [zc-nav="secondary"] [nav-button~="link-download"] {
    display:none;
  }
}
@media screen and (min-width:1400px) {
  /* Show Search */
  [zc-nav="secondary"] [nav-button~="link-search"] {
    --nav-button-svg-margin: 12px;
  }
  [zc-nav="secondary"] [nav-button~="link-search"] span { 
    display:block; 
  }
}


/* MAX
------------------------------------ */

/* TABLET P ONLY */
@media screen and (min-width:1024px) and (max-width:1300px) {

  /* SECONDARY NAV */
  [zc-nav="secondary"] {
    border-radius: 7px;
    left: auto;
    position: absolute;
    right: 0;
    top: var(--header-height);
    transform: translateY(-5px);
    transition: transform .4s cubic-bezier(.05,.69,.14,1);
    z-index: 10;
  }
  [html-nav-active="secondary"] [zc-nav="secondary"] {
    transform: translateY(0);
  }
  /* Wrapper */
  [zc-nav-wrapper="secondary"] { 
    --inner-x-padding: 25px;
    border-radius: 7px;
    box-shadow: 0 1px 12px rgba(0,0,0,.3);
    display: none;
    transform: translateX(var(--inner-x-padding));
  }
  [html-nav-active="secondary"] [zc-nav-wrapper="secondary"] {
    display: block;
  }
  [zc-nav-wrapper="secondary"]:before,
  [zc-nav-wrapper="secondary"]:after {
    content: '';
    display: block;
    border: 8px solid transparent;
    border-bottom-color: #fff;
    position: absolute;
    top: -16px;
    right: 29px;
  }
  [zc-nav-wrapper="secondary"]:before {
    border-width: 9px;
    border-bottom-color: #dedede;
    top: -18px;
    right: 28px;
  }
  /* Content */
  [zc-nav-content="secondary"] {
    background: #fff;
    border-radius: 7px;
    padding: 20px 30px;
  }
  [zc-nav="secondary"] a {
    height: auto;
    justify-content: flex-start;
    padding: 8px 0;
  }
  [zc-nav="secondary"] [nav-button~="link-download"] {
    display: none;
  }
  [zc-nav="secondary"] a svg {
    --icon-fill_primary: var(--color-secondary);
    height: 18px;
    margin-right: 10px;
    transform: scale(1);
    transition: transform .3s;
    width: auto;
  }
  [zc-nav="secondary"] [nav-button~="link-login"] svg {
    height: 14px;
    margin-left: -4px;
    margin-right: 8px;
  }
  [zc-nav="secondary"] [nav-button~="link-search"] svg {
    height: 20px;
  }
  [zc-nav="secondary"] [nav-button~="link-signup"] svg {
    margin-left: -5px;
  }
  [zc-nav="secondary"] a:hover svg {
    transform: scale(1.15);
  }
}

/* MOBILE AND TABLET P ONLY */
@media screen and (max-width:1023px) {
  :root {
    --nav-button-padding: 10px;
    --nav-button-svg-margin: 12px;
  }
  
  /* PRIMARY NAV TRIGGER */
  [nav-trigger="primary"] { 
    --nav-trigger-display: flex;
    left: 0; 
  }
  
  /* SHARED NAVS */
  [zc-nav] {
    pointer-events: none;
    position: fixed; 
    visibility: hidden;
    z-index: 10; 
  }
  [html-nav-active] [zc-nav] {
    pointer-events: auto;
    visibility: visible;
  }
  /* Content */
  [zc-nav-content] {
    align-items: flex-start;
    display: flex;
    text-align: left;
  }

  /* Dropdown */
  [nav-primary] {
    display: flex;
  }
  /* Dropdown Group 1 */
  [nav-primary-group="1"] {
    border-right: 1px solid #ccc;
    margin-right: 40px;
    padding-right: 40px;
  }
  [nav-primary-group="1"] a {
    display: block;
    padding: 6px 0;
  }
  /* Dropdown Group 2 */
  [nav-primary-group="2"] {
    display: flex;
    flex-direction: column;
  }
  [nav-primary-group="2"] [nav-button] {
    --nav-button-padding: 10px;
    margin: 9px 0;
  }
}

/* TABLET P ONLY */
@media screen and (min-width:768px) and (max-width:1023px) {
  /* PRIMARY NAV */
  [zc-nav] {
    border-radius: 7px;
    left: var(--inner-x-padding);
    top: var(--header-height);
    transform: translateY(-5px);
    transition: transform .4s cubic-bezier(.05,.69,.14,1);
  }
  [html-nav-active] [zc-nav] {
    transform: translateY(0);
  }
  [zc-nav-wrapper] {
    border-radius: 7px;
    box-shadow: 0 1px 12px rgba(0,0,0,.3);
    transform: translateX(calc(-1 * var(--inner-x-padding)));
  }
  [zc-nav-wrapper]:before,
  [zc-nav-wrapper]:after {
    content: '';
    display: block;
    border: 8px solid transparent;
    border-bottom-color: #fff;
    position: absolute;
    top: -16px;
    left: 25px;
  }
  [zc-nav-wrapper]:before {
    border-width: 9px;
    border-bottom-color: #dedede;
    top: -18px;
    left: 24px;
  }
  /* Content */
  [zc-nav-content] {
    background: #fff;
    border-radius: 7px;
    padding: 20px 30px;
  }
  /* Dropdown Group 1 */
  [nav-primary-group="1"] [nav-button~="link-download"] { display:none; }

  /* SECONDARY NAV */
  [zc-nav="secondary"] { 
    display: flex;
    left: auto;
    pointer-events: auto;
    position: absolute; 
    right: 0;
    top: 0;
    transform: translateY(50%);
    transition: none;
    visibility: visible;
  }
  [html-nav-active] [zc-nav="secondary"] {
    transform: translateY(50%);
  }
  [zc-nav-wrapper="secondary"] {
    box-shadow: none;
  }
  [zc-nav-wrapper="secondary"]:before,
  [zc-nav-wrapper="secondary"]:after {
    display: none;
  }
  [zc-nav-content="secondary"] {
    background: none;
    border-radius: 0;
    padding:0;
  }
  [zc-nav="secondary"] a { display:inline-flex; align-items:center; }
  [zc-nav="secondary"] a + a { margin-left:20px; }
  [zc-nav="secondary"] svg { 
    --icon-fill_primary: var(--color-secondary);
    margin-right:10px; width:auto; height:18px; transform: scale(1); transition:transform .3s; 
  }
  [zc-nav="secondary"] [nav-button~="link-login"] svg { height:14px; transform: scale(1) translateY(-2px); }
  [zc-nav="secondary"] a:hover svg { transform: scale(1.15); }
  [zc-nav="secondary"] [nav-button~="link-login"]:hover svg { transform: scale(1.15) translateY(-2px); }

  [zc-nav="secondary"] [nav-button~="link-download"],
  [zc-nav="secondary"] [nav-button~="link-search"] { display:none; }
}

/* MOBILE ONLY */
@media screen and (max-width:767px) {
  
  /* DISABLE BODY SCROLL */
  [html-nav-active], [html-nav-active] body { overflow:hidden; }

  [zc-nav] {
    background: #f7f7f7;
    height:100%;
    margin: 0;
    padding: 0;
    top: 0; 
    left: 0; 
    width: 100%;
  }
  [zc-nav-wrapper] {
    height: var(--header-height);
    background: #fff;
    box-shadow: 0 1px 12px rgba(0,0,0,.1);
    position: relative;
  }
  [zc-nav-content] {
    height: calc(100vh - var(--header-height) - 8px);
    background: linear-gradient(#f7f7f7, #fff);
    box-sizing: border-box;
    left: 0;
    overflow: auto;
    padding: 20px var(--inner-x-padding);
    position: absolute;
    top: var(--header-height);
    width: 100%;
    transform: translateY(8px);
  }

  /* PRIMARY NAV */
  /* Download button */
  [zc-nav] [nav-button~="link-download"] { display:none; }
  
  /* SECONDARY NAV */
  [zc-nav="secondary"] { display:none; }
}